ProjectDir           = /home/thenghiapham/work/project/antonym

TrainDir             = /home/thenghiapham/work/corpus/wiki9
VocabFileName        = wiki9.voc

WordVectorFileName   = hs_skip_wiki9.bin
    
#MenFile              = /home/thenghiapham/work/project/antonym/lexical/MEN_dataset_lemma.txt
MenFile              = /home/thenghiapham/work/project/antonym/lexical/simlex-999.txt

WordNetAdj           = /home/thenghiapham/work/project/antonym/dict/data.adj
WordNetNoun           = /home/thenghiapham/work/project/antonym/dict/data.noun
WordNetVerb           = /home/thenghiapham/work/project/antonym/dict/data.verb

HierarchialSoftmax   = false
NegativeSampling     = 20
SubSampling          = 1e-3


# composition part, keeping for not giving error
ConstructionFileName = selected-constructions1.txt
STrainDirName        = split_parse/wiki
MinFrequency         = 10
SOutputFileTemplate  = s_neg_istep_type_lwiki_size_window_function_wo_lex.bin
